version: "3.9"

services:
  sentinel-eye:
    build:
      context: .
      dockerfile: docker/Dockerfile
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
      - ./models:/app/models
    command: ["python", "main.py", "--no-gui", "--output-video", "data/output/output_compose.mp4", "--yolo-stride", "4"]
    tty: true
    stdin_open: true
